<h1 class="m-3">All Trailer</h1>


<table class="table table-bordered table-hover table-dark"> 
  <thead>
    <tr>
      <th>N.</th>
      <th>titulo</th>
      <th>fecha</th>
      <th>director</th>
      <th>actor</th>
      <th>link</th>
      <th>reseña</th>
      <th>imagen</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    {{#each tra}}

      <tr>
        <td>{{@index}}</td>
        <td>{{title}}</td>
        <td>{{date}}</td>
        <td>{{director}}</td>
        <td>{{actor}}</td>
        <td>{{link}}</td>
        <td>{{description}}</td>
        <td>
                {{#if filename}}
            <p class="btn btn-dark">undone</p>
          {{else}}
            <p>done</p>
          {{/if}}
        </td>
            

        <td>
          
            <form action="/config/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
                    <button  class="btn btn-danger">delete</button>
            </form>
          
          <a href="/config/edit/{{_id}}" class="btn btn-info">update</a>
        </td>
      </tr>



    {{/each}}
  </tbody>
</table>

