

<h1>{{tra.title}}</h1>
<img src="{{tra.path}}" alt="">

<h3>{{tra.director}}</h3>
<h4>{{tra.actor}}</h4>


<p>{{tra.description}}</p>

<br>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores id perferendis tenetur dolorem neque animi! Nobis quidem harum perferendis ab iusto ducimus pariatur officiis eius!</p>


<p>{{tra.link}}</p>