      
            <h1>Bienvenidos</h1>
<div>
{{#each tra}}

      <div>
            <div>
                 <img src="{{path}}" alt=""> 
            </div>
            <div>
                  <h3>{{title}}</h3>
            </div>
            <div>
                  <h4>{{director}}</h4>
            </div>
            <div>
                  <p>{{date}}</p>
            </div>
            <div>
                  <a href="about/{{_id}}">info</a>
            </div>

    {{/each}}
</div>
   